image: golang:1.19

stages:
  - build

format:
  stage: build
  script:
    - test -z "$(gofmt -l ./)"

vet:
  stage: build
  script:
    - go vet -json ./... | tee vet-report.json
  artifacts:
    when: always
    paths:
      - vet-report.json
    expire_in: 1 hour

test:
  stage: build
  script:
    - go install gotest.tools/gotestsum@latest
    - gotestsum --junitfile build/test/report.xml --format testname
  artifacts:
    when: always
    paths:
      - build/test/*.xml
    reports:
      junit: build/test/*.xml

staticcheck:
  stage: build
  script:
    - go install honnef.co/go/tools/cmd/staticcheck@latest # ideally we should version pin
    - staticcheck ./...

golint:
  stage: build
  script:
    - go install golang.org/x/lint/golint@latest # ideally we should version pin
    - golint -set_exit_status ./...

build:
  stage: build
  script:
    - apt update && apt -y install zip
    - ./bld -ac
  artifacts:
    paths:
      - build/bin/*
      - build/zip/*
